body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:974px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:47px;
  width:172px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:46px;
  top:110px;
  width:156px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:202px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:261px;
  top:110px;
  width:156px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:307px;
  top:202px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:477px;
  top:110px;
  width:156px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:523px;
  top:202px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:692px;
  top:110px;
  width:156px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:738px;
  top:202px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:46px;
  top:252px;
  width:156px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:92px;
  top:344px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:261px;
  top:252px;
  width:156px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:307px;
  top:344px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:477px;
  top:252px;
  width:156px;
  height:80px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:523px;
  top:344px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:692px;
  top:252px;
  width:156px;
  height:80px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:738px;
  top:344px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:44px;
  top:401px;
  width:156px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:90px;
  top:493px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:259px;
  top:401px;
  width:156px;
  height:80px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:305px;
  top:493px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:475px;
  top:401px;
  width:156px;
  height:80px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u45 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:521px;
  top:493px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:690px;
  top:401px;
  width:156px;
  height:80px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:736px;
  top:493px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:770px;
  top:47px;
  width:76px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:369px;
  top:116px;
  width:55px;
  height:21px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:450px;
  top:610px;
  width:-30px;
  height:-450px;
}
#u56_seg0 {
  position:absolute;
  left:-10px;
  top:-460px;
  width:20px;
  height:464px;
}
#u56_seg1 {
  position:absolute;
  left:-34px;
  top:-460px;
  width:44px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-50px;
  top:-248px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:397px;
  top:620px;
  width:204px;
  height:60px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:910px;
  top:580px;
  width:-50px;
  height:-510px;
}
#u60_seg0 {
  position:absolute;
  left:-10px;
  top:-520px;
  width:20px;
  height:524px;
}
#u60_seg1 {
  position:absolute;
  left:-54px;
  top:-520px;
  width:64px;
  height:20px;
}
#u61 {
  position:absolute;
  left:-50px;
  top:-288px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:797px;
  top:582px;
  width:177px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:240px;
  top:590px;
  width:-30px;
  height:-530px;
}
#u64_seg0 {
  position:absolute;
  left:-10px;
  top:-540px;
  width:20px;
  height:544px;
}
#u64_seg1 {
  position:absolute;
  left:-34px;
  top:-540px;
  width:44px;
  height:20px;
}
#u65 {
  position:absolute;
  left:-50px;
  top:-288px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:210px;
  top:600px;
  width:161px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:13px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:589px;
  top:116px;
  width:55px;
  height:21px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
