body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:245px;
  width:120px;
  height:35px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:60px;
  top:353px;
  width:840px;
  height:113px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:113px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:182px;
  top:0px;
  width:150px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:365px;
  top:0px;
  width:150px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:548px;
  top:0px;
  width:150px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:730px;
  top:0px;
  width:150px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:42px;
  top:90px;
  width:65px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:224px;
  top:90px;
  width:65px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:408px;
  top:90px;
  width:65px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:590px;
  top:90px;
  width:65px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:772px;
  top:90px;
  width:65px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
