body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:47px;
  width:49px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:44px;
  top:102px;
  width:856px;
  height:435px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:435px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1px;
  top:0px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u6 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:299px;
  top:0px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u8 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:598px;
  top:0px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u10 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:217px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u12 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:298px;
  top:217px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u14 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:598px;
  top:217px;
  width:282px;
  height:173px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:173px;
}
#u16 {
  position:absolute;
  left:2px;
  top:76px;
  width:278px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:176px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:393px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:398px;
  top:176px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:398px;
  top:393px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:698px;
  top:176px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:698px;
  top:393px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:574px;
  top:216px;
  width:541px;
  height:110px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.800000011920929;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:110px;
}
#u30 {
  position:absolute;
  left:2px;
  top:47px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:424px;
  top:27px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:432px;
  top:-6px;
  width:21px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:790px;
  top:610px;
  width:129px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:910px;
  top:610px;
  width:-30px;
  height:-210px;
}
#u37_seg0 {
  position:absolute;
  left:-10px;
  top:-220px;
  width:20px;
  height:224px;
}
#u37_seg1 {
  position:absolute;
  left:-34px;
  top:-220px;
  width:44px;
  height:20px;
}
#u38 {
  position:absolute;
  left:-50px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:540px;
  top:600px;
  width:-60px;
  height:-570px;
}
#u39_seg0 {
  position:absolute;
  left:-10px;
  top:-580px;
  width:20px;
  height:584px;
}
#u39_seg1 {
  position:absolute;
  left:-64px;
  top:-580px;
  width:74px;
  height:20px;
}
#u40 {
  position:absolute;
  left:-50px;
  top:-323px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:470px;
  top:610px;
  width:177px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
