body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:140px;
  width:850px;
  height:330px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:330px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u4 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:340px;
  top:0px;
  width:160px;
  height:160px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u6 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:170px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u8 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:340px;
  top:170px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u10 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:510px;
  top:0px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u12 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:510px;
  top:170px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u14 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:680px;
  top:0px;
  width:160px;
  height:160px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u16 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u18 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:0px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u20 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:680px;
  top:170px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u22 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:425px;
  top:493px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:6px;
  top:0px;
  width:37px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:14px;
  top:0px;
  width:21px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:97px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:146px;
  top:97px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:243px;
  top:97px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
